@model IEnumerable<DomainModel.Converter>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfConvert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumbertoConvert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberConverted)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfConvert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumbertoConvert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberConverted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConvertId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConvertId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConvertId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
